<div class="row">
  <div class="col-md-8 mr-auto ml-auto">
    {{#if commentsList}}
      <table class="table">
        <tbody>
          {{#each commentsList}}
            <tr>
              <td>{{mail}}</td>
              <td>{{date}}</td>
              <td>{{message}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="alert alert-warning">
        No hay comentarios. Pruebe ingresando uno!
      </div>
    {{/if}}
  </div>
</div>